<h1>Angular Books 
    <li>Angular — The Complete Guide</li>
    <li>The Ng-book — The Complete Book on Angular</li>
</h1>

<h1>Node JS 
    <li> Node.js Design Patterns </li>
    <li> Get Programming with Node.js</li>
</h1>

<h1>Android  
    <li>Android App Development for Dummies</li>
    <li>Android Programming for Beginners</li>
</h1>

<h1>Big Data  
    <li>Big Data: Concepts, Technology and Architecture</li>
    <li> Big Data For Beginners</li>
</h1>

<h1>Artificial Intelligence 
    <li>Artificial Intelligence: Learning Automation Skills with Python</li>
    <li>Automate the Boring Stuff with Python</li>
</h1>